button {
    background-color: #7e1270;
    height: 40px;
    width: 90px;
    border-radius: 10px;
    border: none;
    color: #dcd1d1;
    font-weight: bold;
    cursor: pointer;
}
input {
    height: 40px;
    border: none;
    border-bottom: 2px solid black;
    background-color: #b7bbc3;
}
.form {
    display: flex;
    gap: 4px;
}